
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table table-bordered">
    <tr>
        <th>ProgramId</th>
        <th>ProgramName</th>
        <th>TRPScore</th>
        <th>ChannelId</th>
        <th>AirTime</th>
    </tr>

    @foreach (var d in Model)
    {
        <tr>
            <td>@d.ProgramId</td>
            <td>@d.ProgramName</td>
            <td>@d.TRPScore</td>
            <td>@d.ChannelId</td>
            <td>@d.AirTime</td>
            <td>
                <a href="#" class="btn btn-info">Details</a>
                <a href="@Url.Action("Edit", "Program", new { ProgramId = d.ProgramId })" class="btn btn-warning">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        
    }
</table>