
@{
    ViewBag.Title = "List";
}

<h2>Channels List</h2>
<div class="d-flex align-items-center justify-content-center">
    <h2>Create more channels?</h2>
    <a href="/Channel/Create" class="btn btn-success m-2">Create</a>
</div>
<table class="table table-bordered">
    <tr>
        <th>ChannelId</th>
        <th>ChannelName</th>
        <th>EstablishedYear</th>
        <th>Country</th>
    </tr>

    @if (TempData["Success"] != null)
    {
        <p class="alert alert-success">@TempData["Success"]</p>
    }

    @foreach (var d in Model)
    {
        <tr>
            <td>@d.ChannelId</td>
            <td>@d.ChannelName</td>
            <td>@d.EstablishedYear</td>
            <td>@d.Country</td>
            <td>
                <a href="#" class="btn btn-info">Details</a>
                <a href="@Url.Action("Edit", "Channel", new { ChannelId = d.ChannelId })" class="btn btn-warning">Edit</a>
                <a href="@Url.Action("Delete", "Channel", new { ChannelId = d.ChannelId })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>