
@{
    ViewBag.Title = "List";
}

<h2 class="d-flex justify-content-center align-items-center">Channels List</h2>
<div class="d-flex align-items-center justify-content-center">
    <a href="/Channel/Create" class="btn btn-success m-2">Create Channel</a>
    <a href="/Program/Create" class="btn btn-info m-2">Create Program</a>
    <a href="/Program/List" class="btn btn-info m-2">Programs List</a>
</div>
<table class="table table-bordered d-flex align-items-center justify-content-center">

    <tr>
        <th>ChannelId</th>
        <th>ChannelName</th>
        <th>EstablishedYear</th>
        <th>Country</th>
    </tr>

    @if (TempData["Success"] != null)
            {
                <p class="d-flex align-items-center justify-content-center alert alert-success w-50">@TempData["Success"]</p>
            }

    @if (TempData["Error"] != null)
            {
                <p class="d-flex align-items-center justify-content-center alert alert-danger w-50">@TempData["Error"]</p>
            }

    @foreach (var d in Model)
    {
        <tr>
            <td>@d.ChannelId</td>
            <td>@d.ChannelName</td>
            <td>@d.EstablishedYear</td>
            <td>@d.Country</td>
            <td>
                <a href="#" class="btn btn-info">Details</a>
                @{

                    var user = (TRP_Management_System.EF.User)Session["user"];
                }
                @if (user != null && user.Role == 1)
                {
                    <a href="@Url.Action("Edit", "Channel", new { ChannelId = d.ChannelId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Channel", new { ChannelId = d.ChannelId })" class="btn btn-danger">Delete</a>
                }
            </td>
        </tr>
    }
</table>